{%if post.related_stories %}
<div class=related>
<h4>You May Like</h4>
{% for related_post in post.related_stories  %}
	{%set related_post = TimberPost(related_post)%}
	{% include 'partial/bottom_recirc_item.twig' with {
		'post': related_post,
		'related_post': related_post,
	} %}
{% endfor %}
</div>
{% else %}
<!-- No post.related_stories -->
{%endif %}
