<div class="article-info intro">
  <div class="component expander clearfix">
    <div class="expander-inner">
      <p class="dek margin-24-tb padded-mobile"> {{post.custom.deck}} </p>
    </div>
  </div>

  <div class="author scale-12 padded margin-24-tb clearfix">
    <div class="author-text" data-tracking-zone="author">
      <span class="bold author-name">{{post.custom.byline}}</span>
    </div>
  </div>
</div>
